/* ROOT */
:root {
  --gray: #d9d9d9ff;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--gray);
}

/* FONT STYLES */
.login-head {
  font-family: 'Abril Fatface';
}

.user {
  font-family: 'Sansita';
}

/* login left image background */
.login-background {
  position: sticky;
  position: -webkit-sticky;
  background-image: url('https://cdn.discordapp.com/attachments/949836958677475338/994725665603592272/unknown.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: relative;
  display: block;
  width: 100%;
}

/* login columns */
.columns {
  height: 1000px;
}

.image-col {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1000px;
  display: flex;
}
