/* FONT STYLES */
.login-head {
  font-family: 'Sansita', sans-serif;
}
 
.formBx{
  position: relative;
}

.div-col{
  position: absolute;
  background-color:  rgb(223, 223, 223);
  top: 80px;
  width: 100%;
  border-radius: 20px;
}

.signup-span:hover{
  border-bottom:1px solid blue;
}


.data-text-tag{
  position: relative;
  font-size: 0px;
}

.sci-img{
  font-size: 15px;
}

.data-text-tag::before{
  content:attr(data-text);
  position: absolute;
  top: 50px;;
  left:0;
  width:0;
  height: 10%;
  color: var(--gray);
  -webkit-text-stroke: 50vw rgb(73, 68, 68);
  overflow:hidden;
  animation: animate 4s linear infinite;
  border-radius: 15px;
} 

@keyframes animate {
  0%{
    width: 0%;
  }
  70%{
    width: 100%;
  }
}
