.reviews-button-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.reviews-button{
  margin-left: 10px;
}

.alert-review-login{
  background-color: antiquewhite;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
