/* ROOT */
:root {
  --gray: rgb(223, 223, 223);
}

* {
  box-sizing: border-box;
}

body,
.footer {
  background-color: var(--gray);
}

/* FONT STYLES */
.navbar {
  font-family: 'Abril Fatface', sans-serif;
}

.hero {
  font-family: 'Sansita Swashed', sans-serif;
}

.card-content {
  font-family: 'Gentium Book Basic', sans-serif;
}
/* HEADER / NAVBAR */
.navbar {
  background-color: black;
}

.navbar-item,
.exhaust {
  color: white;
}

.exhaust {
  text-shadow: 0 0 2px white, 0 0 8px black, 0 0 10px white;
}
/* HERO */
.hero {
  position: sticky;
  position: -webkit-sticky;
  background-image: url('https://cdn.discordapp.com/attachments/949836958677475338/995081046351691949/cycle_new.jpg');
  background-attachment: local;
  background-size: cover;
  background-position: 25%;
}

.span{
    margin-left: 2px;
}

/* TILES */
.detail-name {
  font-weight: bold;
  font-size: larger;
}

.is-divider {
  border-top: 1px solid black;
}

.divide {
  border-top: 1px solid black;
  margin-top: 5%;
  margin-left: 8%;
  margin-right: 8%;
}

.tile-wrap {
  justify-content: center;
  align-items: center;
}